html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
*,*:before,*:after{
	box-sizing: border-box;
}
img{
	max-width: 100%;
	height: auto ;
}
body{
	font-family:標楷體;
	color:#000;
}
a{
	text-decoration: none;
}
.wrap{
	max-width: 1050px;
	margin: 0 auto;
}
.header-top{
background-color: rgba(0, 0, 0, 0.3);
height: 80px;
position: relative;

}

.header-menu{
	float:right;
	margin:20px 30px 0 0;
}
.header-menu li{
	float:left;
	padding-left: 30px;
}
.header-menu a{
	display: block;
	font-size: 20px;
	color: #ffff;
}
.header-logo{
float: left;
margin:20px 0 0 30px;
font-size: 28px;
color: #fff;
display: block;
}

.header a:hover{
	color: #00cc99;
	cursor: pointer;
}
.showmenu{
	display: none;
}
.hamburger-menu {
  background: none;
  border: none;
  display: inline-block;
}
.hamburger-menu .icon-bar {
  background-color: #ff4c4d;
  display: block;
  height: 4px;
  margin: 0 auto 4px;
  width: 30px;
}

.header{
	background-image: url(../img/header_desktop.png);
	height: 420px;
  	background-repeat: no-repeat;
  	 background-color: black;
 	background-position:center;
}
.header-box{
	position:absolute;
	background-color: rgba(0, 0, 0, 0.3);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	text-align: center;
	margin-top: 180px;
}
.header-box h1{
font-size: 28px;
color: #fff;
margin-bottom: 10px;
}
.header-box p{
	font-size: 16px;
	color: #fff;
	margin-bottom: 5px;
}
.content{
	background:#efeae7;
	text-align: center;
}
@media(max-width: 768px){
	.header{
    background-image: url(../img/header_mobile.png);
  }
  .header-menu{
  /*隱藏選單收回*/
  max-height: 0px;
  overflow: hidden;
   /*隱藏選單彈出*/
  transition: max-height 1s;
  margin-top: 1px;
  /*絕對定位在網頁上*/
  position: absolute;
  z-index: 100;
  /*headertop80px 所以從80往下80+1=81*/
  top: 81px;
  /*為了選單滿版*/
  min-width: 100%;
  background: #FF6F61;
    }
 .header-menu li{
    float: none;
    border-bottom: 1px dashed #69CA62;
      text-align: center;
      line-height: 30px;
  }
  .header-menu a{
    transition: all 0.1s;
    display: block;
    height: 30px;
  }
  .header-menu a:hover{
    color: #fff;
    cursor: pointer;
  }
  .showmenu{
    display: block;
    float: right;
    
  }
  .hamburger-menu{
  	padding: 26px 26px 0 0;
  }
  .header-logo{
  	padding:0 0 0 26px;
  }
  /*jQ點擊後動態在 body 加上 class */
  .showmenu .header-menu{
    max-height: 500px;
  }
  .header-menu li:hover{
  	cursor: pointer;
  	background: #03A89E;
  	color: #fff;
  }
}
/*承認我不會，學老師的*/
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: brown;
}
.title h2 {
  font-size: 24px;
  margin: 24px;
  margin-top: 3%;
}
.line {
  stroke: brown;
  stroke-width:5;
}
/*end*/
@media(max-width: 768px){
	.line{
		display: none;
	}
	.title h2 {
		margin:12px;
	}

}
.content-menu{
	float: right;
	color: #3D1101;
}
h3{
	font-size: 20px;
}
.content-menu li{
	max-width:31.33333%;
	padding: 10px;
	float:left;
	margin:2% 1%;

}
.content-menu li img{
	border-radius:100%;
	margin-bottom: 10px;
}

.content-menu p{
	margin-top: 10px;
	text-align: left;
}
@media(max-width: 768px){
	.content-menu{
		float: none;
	}
	.content-menu li{
		max-width:100%;
	}
	.content-menu p{
		padding:0 10%;
	}
}
.content-banner {
	background:#3D1101;
	color:#FFF;
	text-align: left;
}
.content-banner h4{
	padding-top:40px;
	font-size: 24px;
}
.content-banner img{
	background-size:cover;
	float:left;
	margin-left:42px;
	margin-right:25px;
	max-width:100%;
}

.content-banner-p{
	margin-bottom: 10px;
}

.content-banner p{
	font-size: 14px;
	padding-right: 77px;
	line-height: 1.4;
}
@media(max-width: 768px){
	.content-banner{
		text-align: center;
	}
	.content-banner img{  	
	float: none;
	min-width: 100%;
	margin-left:0;
	margin-right:0;
	}
	.content-banner h4{
		padding-top:20px;	
	}

	.content-banner p{
	padding-right: 0;	
	}
	.content-banner-pp{
		margin: 0 15%;
		padding: 2% 0;
		text-align: left;
	}

}
.content-thinkbox{
	background:#efeae7;
	color: #3D1101;
}
.content-thinkbox-menu{
	float: right;
	padding: 5px;
}
h5{
padding-top: 20px;
text-align: center;
font-size: 24px;
margin-bottom: 10px;
}
.content-thinkbox-menu-img{
	float: left;
	border-radius: 100%;
	margin-right: 10px;
}

.content-thinkbox-menu li{
	float: left;
	max-width: 30.3333%;
	margin: 1%;
}
.content-thinkbox-menu p{
	text-align:left;
   font-size:16px;
   margin-left: 100px;
   margin-bottom: 20px;
}
.content-thinkbox-menu-p{
	margin-top: 20px;
	margin-bottom: 20px;
}
.content-thinkbox-menu-pp{
	float: right;
}
@media(max-width: 768px){
	.content-thinkbox-menu li{
		max-width: 100%;
	}
}

.content-footer{
	background: rgba(250,250,250,0.70);
}
h6{
color: #3D1101;
font-size: 24px;
text-align: center;
padding: 20px 0;
}
.content-footer img{
	float: left;
	margin-bottom: 10px;
	padding-left: 5%;
}
@media(max-width: 768px){
	.content-footer img{
		float: none;
     min-width: 100%;
     padding-left: 0%;
	}
}
.content-footer-form{
	color: #3D1101;
	float: left;
	margin-left: 3%;
}
@media(max-width: 768px){
	.content-footer-form{
		float: none;
		margin-left: 0%;
		padding: 2% 10%;
	}
}
.content-footer-input{
	width: 300px;
	height: 28px;
	padding: 5px;
	margin: 5px 0 15px 0;
	border: .8px solid gray;
	border-radius: 5px;
}
@media(max-width: 768px){
	.content-footer-input{
		min-width: 100%;

	}
}
.content-footer-form button{
	margin-top: 10px;
	float: right;
}
.content-footer-form button:hover{
	cursor: pointer;
}
.content-footer-button1 {
            color: white;
            border-radius: 4px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
            background: gray;
            padding: 5px 10px;
        }
.content-footer-button2 {
            color: white;
            border-radius: 4px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
            background:rgb(223, 117, 20);
            padding: 5px 10px;
            margin-left: 10px;
        }
        @media(max-width: 768px){
        	.content-footer-form button{
        		margin-bottom: 2%;
        	}
        }
 .footer{
	color:#3D1101;
    background:#efeae7;
}
.footer-about{
	float:left;
	padding:10px 20px 0 20px;
	max-width: 30.333%;
}
.footer-about p{
	margin-bottom: 15px;
}
.footer-tel{
	float:left;
	padding:10px 0px 0 30px;
	max-width: 30.333%;
}
.footer-tel p{
	margin-bottom: 15px;
}
.footer-tel ul{
	list-style:disc;
}
.footer-tel li{
	margin-bottom: 10px;
}
@media(max-width: 768px){
	.footer-about{
		float: none;
		max-width: 100%;
		padding: 5% 10%;
	}
	.footer-tel{
		float: none;
		min-width: 100%;
		padding: 5% 10%;
	}
}
.footer-icon{
	max-width: 33.3333%;
	float:right;
	padding:10px 0px 0 30px;
	margin-right: 40px;
}
.footer-p{
	font-size: 24px;
}
.footer-icon p{
		margin-bottom: 15px;
		font-size: 50px;
		color: brown;
}
.footer-icon ul{
	float: right;
}
.footer-icon li{
	float: left;
	margin-right: 10px;
	float:left;
	margin-bottom: 10px;
}
@media(max-width: 768px){
	.footer-icon{
		margin: 0 2% 2% 0;
		padding:0;
		max-width: 100%;
	}

}
/*cart*/
.content-cart{
	    background:#efeae7;
}
.content-cartonline{

    padding: 30px 20px 0 30px;
    max-width: 25%;
    float: left;
}
@media(max-width: 768px){
	.content-cartonline{
		min-width: 100%;
		float: none;
	}
}
.content-cartonline p{
	color: #3D1101;
	font-size: 20px;
	margin-bottom: 10px;
}
.content-cartonlineul li{
	border-bottom: 1px solid brown ; 
	padding: 5px 20px;

}

.content-cartonlineul a{
 	color: #3D1101;
 	display: block;
}
.content-cartonlineli2 a{
		color: #fff;
		display: block;
}
.content-cartonlineli2{
	background:#3D1101;

}
.content-cartchoose {
	float: left;
	max-width: 75%;
	padding-left: 1%;
	padding-top: 25px;

}
@media(max-width: 768px){
	.content-cartchoose {
		float: none;
	}
}
.search-box{
	float: left;
	margin-bottom: 10px;
}
.checkout{
		float: right;
	margin-bottom: 10px;
}
.search-box{
	width: 350px;
	position: relative;
}
.search-box input{
	width: 100%;
	height: 32px;
	border: 2px solid #3D1101;
	background: rgb(239 233 231);
}
.search-box a {
	position: absolute;
	right: 0;
	top: 0;
	width: 36px;
	height: 32px;
	background-color: rgb(61 17 1);
	text-align: center;
	line-height: 32px;
	color: #fff;
	display: block;
}
.checkout{
	margin-left:250px;
}
.ch-text{
	font-size: 28px;
	color: #3D1101;
	border-right: 2px solid #3D1101;
	padding: 0 10px 0 0;
}
.ch-img{
	font-size: 150%;
	padding: 0 0 0 10px;
	color: #3D1101;

}

@media(max-width: 768px){
	.cartsearch{
		max-width: 100%;
	}
	.search-box{
		float: none;
		margin: 1% 5%;
		min-width: 100%;
		margin-left: 20%;
	}
	.checkout{
	float: none;
	margin-top: 10px;
	margin-left:75%;
	}
	.cartmenu{
	min-width: 100%;
	float: none;
	padding: 2% 5%;
	}
}
@media(max-width: 767px){
	.search-box{
		float: none;
		max-width: 100%;
	}
	.checkout{
	float: right;
	margin-top: 10px;
	margin-left: 45%;
	}
	.cartmenu{
	min-width: 100%;
	float: none;
	padding: 2% 5%;
	}
}
@media(max-width: 320px){
	.search-box{
		float: none;
		max-width: 100%;
	}
	.checkout{
	float: right;
	margin-top: 10px;
	margin-left: 40%;
	}
	.cartmenu{
	min-width: 100%;
	float: none;
	padding: 2% 5%;
	}
}
.cartmenu{
	max-width: 75%;
	float: left;
}

.cartmenu ul{
	float: right;
}
.cartlitop{
	float: left;
	max-width: 31.33333%;
	position: relative;
	margin:1% 1%;
	text-align: center;
	border-radius: 1%;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.cartlove{
	position: absolute;
	top: 8px;
	left: 8px;
	color: #fff;
	font-size: 120%;

}
.favoritelove{
	color: red;
}
.carttittle{
	margin-bottom: 5px;
	color: #3D1101;
	font-size: 26px;
}
.carttittlep{
	color: #3D1101;
	font-size: 16px;
}
.carttittlep::after {
	content: "";
	margin: 10px auto 20px auto;
	border-top: 1px solid rgb(61 17 1);
	display: block;
	width: 50%;
	margin-bottom: 20px;
}
.cartprice{
	color: #3D1101;
	font-size: 16px;
}
.cartbutton{
	margin-top: 10px;
	padding: 5px 40px;
	color: #FF5E45;
    border-radius: 5%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: #fff;
    margin-bottom: 10px;
    text-align:center;

}
.cartbutton:hover{
	cursor: pointer;
	background: rgb(202, 60, 60);
	color: #fff;
}
/*這段看不懂，照抄別打我*/
.ribbon-wrapper-green {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon-green {
  font: bold 15px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #BFDC7A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45)); 
  background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45); 
  color: #6a6340;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-green:before, .ribbon-green:after {
  content: "";
  border-top:   3px solid #6e8900;   
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-green:before {
  left: 0;
}
.ribbon-green:after {
  right: 0;
}
/*看不懂結束*/
@media(max-width: 768px){
	.cartmenu ul{
		min-width: 100%;
		float: none;
	}
	.cartlitop{
		min-width: 100%;
		float: none;
		padding: 1%;
	}
	.cartlitop img{
		min-width: 100%;
	}
	.cartlove{
	top: 15px;
	left: 15px;
	}
}
/*login*/
.contentlogin{
	background: #efeae7;
}
.contentloginp{
	font-family: NotoSansCJKtc-Black;
font-size: 48px;
color: #3D1101;
	text-align: center;
	padding-top: 10px;
}
.contentloginpp{
	font-family: NotoSansCJKtc-Medium;
	font-size: 20px;
	color: #3D1101;
	margin-top: 5px;
	padding-bottom: 20px;
	text-align: center;
}
.contentloginbox{
	border-top: 2px solid #FF5E45;
	border-bottom: 1px solid gray;
	border-radius: 1px;
	max-width: 620px;
	margin: 0 auto;
	box-shadow: 3px 1px 3px  gray;
	padding-bottom: 30px;

}
@media(max-width: 768px){
	.contentloginbox{
		min-width: 100%;
	}
}
.contentloginboxp{
	color: #3D1101;
	font-size: 18px;
	margin-top: 10px;
	padding-bottom: 20px;
	text-align: center;
}

.contentloginboxpp{
	max-width: 250px;
	padding: 0 30px;
	font-family: MicrosoftJhengHeiRegular;
	font-size: 18px;
	color: #3D1101;
	line-height: 1.1;
	float: left;

}
@media(max-width: 768px){
	.contentloginboxp,
	.contentloginboxpp
	{
		display: none;
	}
	.contentloginform{
		min-width: 100%;
	}
}
.pure-form{
	padding-left: 30px;
	float: left;
}

.pure-form label{
	font-family: MicrosoftJhengHeiRegular;
font-size: 16px;
color: #3D1101;
}
.pure-form input{
	border-radius: 1px;
	background: #fff;
	margin: 10px 5px;
	padding: 10px 20px;
}
@media(max-width:768px){
	.pure-form{
	margin-left: 25%;
	}
	.pure-form input{
		min-width: 150%;
		margin-top: 5%;
	}
}
@media(max-width: 500px){
		.pure-form{
	margin-left: 8%;
	}
	.pure-form input{
		min-width: 100%;
		margin-top: 5%;
	}
}
@media(max-width: 360px){
		.pure-form{
	margin-left: 5%;
	}
	.pure-form input{
		min-width: 100%;
		margin-top: 5%;
	}
	@media(max-width: 320px){
		.pure-form{
	margin-left: 3%;
	}
	.pure-form input{
		min-width: 100%;
		margin-top: 5%;
	}
}
}.contentloginforma{
	font-family: MicrosoftJhengHeiRegular;
font-size: 14px;
color: #FF5E45;
padding-bottom: 30px;
}
.pure-button-primary{
	float: right;
	font-family: PingFangTC-Regular;
	font-size: 14px;
	color: #FFFFFF;
	padding: 5px 15px;
	background: #F56C23;
}
@media(max-width: 768px){
	.pure-button-primary{
		float: none;
		margin-left: 55%;
	}

}
.clearfix{
	clear: both;
}
.clearfix{
	clear: both;
}